.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
}

.banner {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .my-carousel {
        overflow: hidden;
        flex: 1
    }
    .banner-img {
        display: block;
        width: 730px;
        height: 336px;
        margin: auto;
    }
    .prev,
    .next {
        font-size: 40px;
        cursor: pointer;
        color: gainsboro;
        &:hover {
            color: black;
        }
    }
}
.content-main {
    padding: 20px;
}

.content-right {
    display: inline-block;
    min-width: 780px;
    .content-title{
        margin: 10px 20px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        border-bottom:1px solid chocolate;
        .circle-title{
            width:15px;
            height:15px;
            border-radius: 50%;
            border:5px solid red;
        }
        .content-titlename{
            font-size:14px;
            color:black;
            margin-left:10px;
        }
    }
    .content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 10px;
        border: 1px solid gainsboro {
            top: 0;
            bottom: 0;
        }
        .content-info {
            width: 140px;
            margin: 10px 15px;
            cursor: pointer;
            .list-div {
                width: 140px;
                height: 140px;
                border-radius: 5px;
                position: relative;
                background-size: cover;
                .list-play {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    color: lightgrey;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2px 10px;
                    background: rgba(0, 0, 0, 0.4);
                    font-size: 12px;
                    .play-count {
                        margin-right: 8px;
                    }
                    .play-icon:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            .content-name {
                font-size: 12px;
                font-weight: bold;
            }
        }
        .content-info-q {
            display: flex;
            cursor: pointer;
            width: 48%;
            font-size: 12px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: 1px solid gainsboro;
            position: relative;
            .list-div-q {
                width: 120px;
                height: 120px;
                background-size: cover;
                border-radius: 5px;
                flex-grow: 1;
            }
            .hg {
                position: absolute;
                top: 3px;
                left: 3px;
                z-index: 1;
                color: gold;
                transform: rotate(-45deg);
                font-size: 20px;
                font-weight: bolder;
            }
            .content-name-q{
                margin:5px 0 0 5px;
                .content-name{
                    font-size:14px;
                    color:black;
                }
                .content-creator-q{
                    margin: 10px 0;

                }
                .content-tag{
                    padding: 2px 5px;
                    border: 1px solid gold;
                    font-size: 10px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.content-left {
    min-width: 240px;
    display: inline-block;
    margin-left: 20px;
    .user {
        display: flex;
        align-items: center;
        .user-avatar {
            border: 1px solid gainsboro;
            margin-right: 20px;
        }
    }
    .user-active {
        margin: 20px 0;
        &>div {
            display: inline-block;
            margin-right: 10px;
        }
        .user-follow {
            padding: 0 10px;
            border: 1px solid gainsboro {
                top: 0px;
                bottom: 0px;
            }
        }
    }
}