.playlist-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    font-size:14px;
    padding:5px 0;
}

.playlist-creator{
    margin-right:10px;
}
.content-main{
    max-width: 980px;
}
.playlist-cats{
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 12px;
    li{
        cursor: pointer;
        margin-right: 5px;
        padding-right:10px;
        border-right: 1px solid gainsboro;
        &:hover{
            color:black
        }
    }
}
.list-pagination{
    text-align: right;
    padding: 20px 10px;
}